/* font and colour-header */
body{
    margin: 0px;
}

header {
    background-color: #1F2937;
    border-color: #1F2937;   
}

.logo {
    font: roboto;
    font-size: 24px;
    color: #F9FAF8;
}

.link {
    font: roboto;
    font-size: 18px;
    color: #e5e7eb;
}

/* flexbox-header */
.container1 {
    display: flex;
}

.container1 div{
    height: 50px;
    flex: 1 1 0;
}

.link-parent {
    display: flex;
    justify-content: flex-end;
}

.link {
    display: flex;
    padding: 11px;
    margin: 3px;
}

.logo {
    display: flex;
    padding: 11px;
    margin: 3px;
}